<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="description" content="네이버 예약, 네이버 예약이 연동된 곳 어디서나 바로 예약하고, 네이버 예약 홈(나의예약)에서 모두 관리할 수 있습니다.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>네이버 예약</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/mainpage.css" rel="stylesheet">
</head>

<body>
    <div id="container">
        <div class="header">
            <header class="header_tit">
                <h1 class="logo">
                    <a href="https://m.naver.com/" class="lnk_logo" title="네이버"> <span
                            class="spr_bi ico_n_logo">네이버</span> </a>
                    <a href="/myreservation" class="lnk_logo" title="예약"> <span class="spr_bi ico_bk_logo">예약</span>
                    </a>
                </h1>
                <a href="/bookinglogin" class="btn_my"> <span class="viewReservation" title="예약확인">예약확인</span> </a>
            </header>
        </div>
        <hr>
        <div class="event">
            <div class="section_visual">
                <div class="group_visual">
                    <div class="container_visual">
                        <div class="prev_e" style="display:none;">
                            <div class="prev_inn">
                                <a href="#" class="btn_pre_e" title="이전"> <i class="spr_book_event spr_event_pre">이전</i>
                                </a>
                            </div>
                        </div>
                        <div class="nxt_e" style="display:none;">
                            <div class="nxt_inn">
                                <a href="#" class="btn_nxt_e" title="다음"> <i class="spr_book_event spr_event_nxt">다음</i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="container_visual">
                                <!-- 슬라이딩기능: 이미지 (type = 'th')를 순차적으로 노출 -->
                                <ul class="visual_img" id="promotion_section">

                                </ul>
                            </div>
                            <span class="nxt_fix" style="display:none;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_event_tab">
                <ul class="event_tab_lst tab_lst_min">
                    <li class="item" data-category="0">
                        <a class="anchor active"> <span>전체리스트</span> </a>
                    </li>
                    <li class="item" data-category="1">
                        <a class="anchor"> <span>전시</span> </a>
                    </li>
                    <li class="item" data-category="2">
                        <a class="anchor"> <span>뮤지컬</span> </a>
                    </li>
                    <li class="item" data-category="3">
                        <a class="anchor"> <span>콘서트</span> </a>
                    </li>
                    <li class="item" data-category="4">
                        <a class="anchor"> <span>클래식</span> </a>
                    </li>
                    <li class="item" data-category="5">
                        <a class="anchor"> <span>연극</span> </a>
                    </li>
                </ul>
            </div>
            <div class="section_event_lst">
                <p class="event_lst_txt">바로 예매 가능한 행사가 <span class="pink" id="content_count">10개</span> 있습니다</p>
                <div class="wrap_event_box">
                    <ul class="lst_event_box" id="left_side">
                    </ul>
                    <ul class="lst_event_box" id="right_side">
                    </ul>

                    <div class="more">
                        <button class="btn" id="more_data_load"><span>더보기</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="gototop">
            <a href="#" class="lnk_top"> <span class="lnk_top_text">TOP</span> </a>
        </div>
        <div class="footer">
            <p class="dsc_footer">네이버(주)는 통신판매의 당사자가 아니며, 상품의정보, 거래조건, 이용 및 환불 등과 관련한 의무와 책임은 각 회원에게 있습니다.</p>
            <span class="copyright">© NAVER Corp.</span>
        </div>
    </footer>

    <script type="text/javascript" src="/js/promotionAnimation.js"></script>
    <script type="text/javascript" src="/js/ajaxTemplate.js"></script>
    <script type="text/javascript" src="/js/ajaxSetting.js"></script>

    <script>
        function setPromotion(responseText) {
            const promotionDataJSON = JSON.parse(responseText).items;
            let inserteToHtml = "";
            for (let index = 0; index < 11; index++) {
                inserteToHtml += TEMPLATE_PROMOTION.replace("{productImageUrl}", promotionDataJSON[index].productImageUrl);
            }
            return inserteToHtml;
        }

        function setProduct(responseText) {
            const productDataJSON = JSON.parse(responseText);
            const productCount = productDataJSON.totalCount;
            const productData = productDataJSON.items;
            let inserteToHtml = ["", ""];
            for (let index = 0; index < productData.length; index++) {
                let product = productData[index];
                inserteToHtml[index % 2] += TEMPLATE_PRODUCT.replace("{id}", product.productId)
                    .replace("{description}", product.productDescription)
                    .replace("{description}", product.productDescription)
                    .replace("{placeName}", product.placeName)
                    .replace("{content}", product.productContent)
                    .replace("{img}", product.productImageUrl);
            }
            if((typeof document.querySelector('.wrap_event_box').dataset.count) === 'undefined'){
                document.querySelector('.wrap_event_box').dataset.count = productData.length;
            }
            else{
                document.querySelector('.wrap_event_box').dataset.count = parseInt(document.querySelector('.wrap_event_box').dataset.count) + productData.length;
            }


            return [productCount, inserteToHtml];
        }

        document.querySelectorAll('.anchor').forEach((anchor) => {
            let eventTarget = anchor;
            anchor.addEventListener("click", () => {
                document.querySelector('.anchor.active').className = 'anchor';
                eventTarget.className = "anchor active"
                document.querySelector('#left_side').innerHTML = "";
                document.querySelector('#right_side').innerHTML = "";
                document.querySelector('.wrap_event_box').dataset.count = "0";
                sendProductTransaction();
            })
        })

        document.querySelector('#more_data_load').addEventListener("click", ()=>{
        	sendProductTransaction();
        });

        function sendProductTransaction() {
            let transactionText = `/api/products?categoryId=${document.querySelector('.anchor.active').parentElement.dataset.category}`;

            if((typeof document.querySelector('.wrap_event_box').dataset.count) !== 'undefined'){
            	transactionText += `&start=${document.querySelector('.wrap_event_box').dataset.count}`
            }
            requestProduct.open("GET", transactionText);
            requestProduct.send();
        }


        document.addEventListener("DOMContentLoaded", () => {
            ajaxSetting();
            requestPromotion.open("GET", '/api/promotions');
            requestPromotion.send();
            sendProductTransaction();
        })

    </script>


</body>

</html>